
  /* Loading Screen */
  .loading-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .loading-container p {
    margin-top: 1rem;
    color: #6f42c1;
    font-weight: 600;
  }
  
  /* Error Screen */
  .error-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .error-message {
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
  }
  